#wrapper-outer {
	width: 100%;
}

#wrapper-inner {
	margin: 0 auto;
	width: 600px;
}

#wrapper-inner h1 {
	font-size: 24px;
	font-family: georgia;
	color: #333;
}

#erd-minus, #erd-plus {
	cursor: pointer;
}

#erd {
	font-size: 24px;
	font-weight: bold;
	border: 1px solid #eee;
	margin-left: 12px;
}

#fhc-minus, #fhc-plus {
	cursor: pointer;
}

#fhc {
	font-size: 24px;
	font-weight: bold;
	border: 1px solid #eee;
	margin-left: 12px;
}

#flange-minus, #flange-plus {
	cursor: pointer;
}

#flange {
	font-size: 24px;
	font-weight: bold;
	border: 1px solid #eee;
	margin-left: 12px;
}

.caption-desc {
	font-size: 15px;
	font-family: arial, sans-serif;
}

.caption-desc fieldset {
	width: 244px;
	padding: 4px;
	border: 1px solid #ccc;
}

#spoke-length {
	font-size: 32px;
	font-weight: bold;
	font-family: arial, sans-serif;
}

div#spoke-length {
	width: 550px;
	text-align: center;
	padding-top: 22px;
}

.myradio td {
	font-size: 16px;
	width: 48px;
}

.radio-label-selected {
	color: #9F6;
	background-color: #333;
	font-weight: bold;
	padding: 2px;
}
