/* This file skins sliders */

.ui-slider-1 .ui-slider-handle, .ui-slider-2 .ui-slider-handle { position: absolute; z-index: 1; height: 23px; width: 12px; top: 0px; left: 0px; background-image: url(i/slider-handle.gif);  }
.ui-slider-1 .ui-slider-handle-active, .ui-slider-2 .ui-slider-handle-active { border: 1px dotted black;  }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider-range { position: absolute; background: #50A029; opacity: 0.3; filter: alpha(opacity=30); width: 100%; height: 100%; }

/* Default slider backgrounds */
.ui-slider-1 { width: 400px; height: 23px; position: relative; background-image: url(i/slider-bg-1.png); background-repeat: repeat-x; background-position: center center; }
.ui-slider-2 { width: 400px; height: 23px; position: relative; background-image: url(i/slider-bg-2.png); background-repeat: repeat-x; background-position: center center; }